.div-search-bar {
  display: flex;
  justify-content: center;
}

.search-bar-homepage {
  background: rgb(230, 227, 227);
  border: none;
  box-shadow: 5px 8px 27px -4px rgba(30, 30, 60, 0.25);
  height: 30px;
  width: 700px;
}
